
<div class="card" style="width: 100%; height: 100%;">
	<div class="card-body">
		<h4 class="card-title">新闻公告管理</h4>
		<form>
			<div class="form-group row">
				<label for="queryModel.title" class="col-md-1 col-form-label" style="padding-right: 0px;">新闻标题：</label>
				<div class="col-md-2">
					<input class="form-control" id="queryModel.title" placeholder="请输入产品名"
						ng-model="queryModel.title">
				</div>
				
				<label for="queryModel.type" class="col-md-1 col-form-label" style="padding-right: 0px;">新闻类型：</label>
				<div class="col-md-2">
					<select ng-model="queryModel.type" class="form-control">
						<option value="">-- 请选择 --</option>
					    <option ng-repeat="n in newsTypeList" value="{{n.value}}">{{n.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="queryModel.createTimeBegin" class="col-md-1 col-form-label" style="padding-right: 0px;">创建开始时间：</label>
				<div class="col-md-2">
					<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="queryModel.createTimeBegin"
						is-open="shwCreateTimeBeginDatePicker" ng-required="true" close-text="关闭" readonly="readonly"
                     	clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
                	<span class="input-group-btn">
                    	<button type="button" class="btn btn-default" ng-click="shwCreateTimeBeginDatePicker=true" style="margin-top: -34px; margin-left: 201px;">
                    		<i class="glyphicon glyphicon-calendar"></i>
                    	</button>
                	</span>
				</div>
				
				<label for="query.createTimeEnd" class="col-md-1 col-form-label" style="padding-right: 0px;">创建结束时间：</label>
				<div class="col-md-2">
					<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="queryModel.createTimeEnd"
						is-open="shwCreateTimeEndDatePicker" ng-required="true" close-text="关闭" readonly="readonly"
                     	clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
                	<span class="input-group-btn">
                    	<button type="button" class="btn btn-default" ng-click="shwCreateTimeEndDatePicker=true" style="margin-top: -34px; margin-left: 200px;">
                    		<i class="glyphicon glyphicon-calendar"></i>
                    	</button>
                	</span>
				</div>
				
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" ng-click="queryNewsList()">查询</button>
					<button type="button" class="btn btn-primary" ng-click="queryModel={}">重置</button>
					<button type="button" class="btn btn-primary" ng-click="showAddNewsInfoWin()">新增</button>
				</div>
			</div>
		</form>
		
		<div ui-grid="gridOptions" style="width: 100%; height: 100%; text-align: center;" id="productGridId"
			ui-grid-pagination ui-grid-selection>
		</div>
	</div>
</div>



