
<style>
	#detailTab img {
		max-width: 100%;
	}
	.nav>li>a:focus, .nav>li>a:hover {
    	text-decoration: none;
    	background-color: burlywood;
	}
</style>

<nav class="navbar-default navbar-fixed-top">
	<div class="panel-default">
		<div class="panel-body header-body header-fixed">
			<div>
				<h4>商品详情</h4>
			</div>
			<div style="margin-top: -31px; float: left;">
				<a href="javascript:window.history.back(-1);" class="index_more fl">
					&nbsp;&nbsp;<img class="tui" src="weChat/image/common/houtei.png" height="22">
				</a>
			</div>
		</div>
	</div>
</nav>

<div style="overflow-x: hidden;overflow-y: auto;padding:40px 0;">
	<div uib-carousel active="active" interval="slideInterval"
		no-wrap="noWrapSlides">
		<div uib-slide ng-repeat="slide in slideList" index="$index">
			<img ng-src="{{uploadFileHeader + slide.filePath}}" style="margin: auto;height:305px;">
		</div>
	</div>
	
	<div class="container" style="background:#fff;">
		<h3>{{product.title}}</h3>
		<h3><strong style="color:red;">￥{{product.price}}</strong><small><s></s></small></h3>
	</div>
	
	<hr class="hr-default">
	
	<div id="detailTab" style="background:#fff;">
		<uib-tabset active="activeForm">
			<uib-tab name="detailTab" classes="detailTab" ng-repeat="tab in tabList" heading="{{tab.name}}" index="$index">
				<div ng-bind-html="tab.content"></div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="min-height: 0;">
	<ul class="nav nav-pills">
		<li role="presentation" style="width:40%;border-radius: 0px;">&nbsp;</li>
		<li role="presentation" style="width:25%;background: darkcyan;border-radius: 0px;">
			<a ui-sref="confirmOrder({'productId':product.id})" style="color: white;">立即购买</a>
		</li>
		<li role="presentation" ng-click="addToTrolley()"
			style="width:30%;background: burlywood;border-radius: 0px;margin-left:0px;">
			<a href="javascript:void(0);" style="color: white;">加入购物车</a>
		</li>
	</ul>
</nav>