<div class="card" style="width: 100%; height: 100%;">
	<div class="card-body" style="width: 100%; height: 100%;">
		<div class="content-title">
			<h4 class="card-title">销售管理</h4>
		</div>
		<form>
			<div class="form-group row">
				<label class="col-md-1 col-form-label" style="padding-right: 0px;">订单编号：</label>
				<div class="col-md-2">
					<input class="form-control" id="query.orderNumber" placeholder="请输入订单编号"
						ng-model="query.orderNumber">
				</div>
				
				<label  class="col-md-1 col-form-label" style="padding-right: 0px;">订单状态：</label>
				<div class="col-md-2">
					<select ng-model="query.orderStatus" class="form-control">
						<option value="">-- 请选择 --</option>
					    <option ng-repeat="n in orderStatusList" value="{{n.value}}">{{n.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-1 col-form-label" style="padding-right: 0px;">创建开始时间：</label>
				<div class="col-md-2">
					<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="query.createTimeBegin"
						is-open="shwCreateTimeBeginDatePicker" ng-required="true" close-text="关闭" readonly="readonly"
                     	clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
                	<span class="input-group-btn">
                    	<button type="button" class="btn btn-default" ng-click="shwCreateTimeBeginDatePicker=true" style="margin-top: -34px; margin-left: 201px;">
                    		<i class="glyphicon glyphicon-calendar"></i>
                    	</button>
                	</span>
				</div>
				
				<label class="col-md-1 col-form-label" style="padding-right: 0px;">创建结束时间：</label>
				<div class="col-md-2">
<!-- 					<input class="form-control" id="query.createTimeEnd" placeholder="创建结束时间" -->
<!-- 						ng-model="query.createTimeEnd"> -->
					<input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="query.createTimeEnd"
						is-open="shwCreateTimeEndDatePicker" ng-required="true" close-text="关闭" readonly="readonly"
                     	clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
                	<span class="input-group-btn">
                    	<button type="button" class="btn btn-default" ng-click="shwCreateTimeEndDatePicker=true" style="margin-top: -34px; margin-left: 200px;">
                    		<i class="glyphicon glyphicon-calendar"></i>
                    	</button>
                	</span>
				</div>
				
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" ng-click="queryProductList()">查询</button>
					<button type="button" class="btn btn-primary" ng-click="query={}">重置</button>
					<button type="button" class="btn btn-primary" ng-click="showAddOrderWin()">新增</button>
				</div>
			</div>
		</form>

		<div ui-grid="gridOptions" class="grid" style="width: 100%; height: 550px; text-align: center;" id="productGridId"
			ui-grid-pagination ui-grid-selection ui-grid-expandable ui-grid-auto-resize>
		</div>
<!-- 		<div ui-grid="gridOptions" style="width: 100%; height: 100%; text-align: center;" ui-grid-edit -->
<!-- 			ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize> -->
<!-- 		</div> -->
	</div>
</div>



