<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyj.service.dao.QyjShoppingTrolleyMapper">
	<resultMap id="baseResultMap" type="com.qyj.facade.entity.QyjShoppingTrolleyEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="user_id" property="userId" />
		<result column="product_id" property="productId" />
		<result column="number" property="number" />
		<result column="create_time" property="createTime" />
	</resultMap>
	
	<sql id="baseColumns">
		id, user_id, product_id, number, create_time
	</sql>

	<!-- 插入购物车记录 -->
	<insert id="insertShoppingTrolley" parameterType="com.qyj.facade.entity.QyjShoppingTrolleyEntity"
			useGeneratedKeys="true" keyProperty="id">
		insert into qyj_shopping_trolley (user_id, product_id, number, create_time)
		values (#{userId}, #{productId}, #{number}, #{createTime})
	</insert>

	<!-- 根据条件删除购物车记录 -->
	<delete id="delShoppingTrolley" parameterType="com.qyj.facade.entity.QyjShoppingTrolleyEntity">
		delete from qyj_shopping_trolley where id = #{id}
			<if test="userId != null">
				and user_id = #{userId}
			</if>
	</delete>
	
	<!-- 根据userId获取购物车记录列表 -->
	<select id="listShoppingTrolleyByUserId" parameterType="java.lang.Long" resultType="com.qyj.facade.entity.QyjShoppingTrolleyEntity">
		select s.id, s.product_id as productId, s.number, p.title as productTitle, p.price as productPrice, p.img_url as productImgUrl
		from qyj_shopping_trolley s 
		left join qyj_product p on s.product_id = p.id where p.product_status = 'PUTAWAY' and s.user_id = #{userId}
	</select>
	
	<!-- 根据条件删除购物车记录 -->
	<delete id="batchDelShoppingTrolley">
		delete from qyj_shopping_trolley where 1=1 and id in
			(<foreach collection="ids" item="item" index="index" separator=",">
				#{item}
			</foreach>)
			<if test="userId != null">
				and user_id = #{userId}
			</if>
	</delete>
	
	<!-- 批量更新购物车 -->
	<update id="updateShoppingTrolleyList" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			update qyj_shopping_trolley set
				<if test="item.number != null">
					number = #{item.number}
				</if>
			where id = #{item.id}
				<if test="item.userId != null">
					and user_id = #{item.userId}
				</if>
		</foreach>
	</update>
	
	<!-- 根据查询条件获取购物车记录 -->
	<select id="listShoppingTrolleyByMap" resultType="com.qyj.facade.entity.QyjShoppingTrolleyEntity">
		select s.id, s.product_id as productId, s.number, p.title as productTitle, p.price as productPrice, 
			p.product_status as productStatus, p.img_url as productImgUrl
		from qyj_shopping_trolley s 
		left join qyj_product p on s.product_id = p.id where 1 = 1 
		<if test="productStatus != null and productStatus != ''">
			and p.product_status = #{productStatus}
		</if>
		<if test="userId != null">
			and s.user_id = #{userId}
		</if>
		<if test="ids != null">
			and s.id in (
			<foreach collection="ids" item="item" index="index" separator=",">
				#{item}
			</foreach>)
		</if>
	</select>

</mapper>