<style>
	.nav>li>a:focus, .nav>li>a:hover {
    	text-decoration: none;
    	background-color: rgba(238, 238, 238, 0);
	}
	.hr-top {
		border-top: 1px solid #eee;
	}
	.content-default {
		background:#fff;
		padding: 8px 15px;
		width: 100%;
		display: inline-block;
		position: relative;
	}
	.main-default {
	    font-size: small;
	}
	.order-text {
		color: #777;
	}
</style>
<div class="panel-default">
	<div class="panel-body header-body header-fixed">
		<div>
			<h4>确认订单</h4>
		</div>
		<div style="margin-top: -31px; float: left;">
			<a href="javascript:window.history.back(-1);" class="index_more fl">
				&nbsp;&nbsp;<img class="tui" src="weChat/image/common/houtei.png" height="22">
			</a>
		</div>
	</div>
</div>
<div class="main-default">
	<div style="background:#fff;">
		<a ui-sref="address({isSelect:true})" href="javascript:void(0);" class="list-group-item" 
				style="margin-bottom: 0px; border: blue;"> 
			<span>{{address.name}}</span>|<span>{{address.phone}}</span><br/>
			<span>{{address.province}}&nbsp;{{address.city}}&nbsp;{{address.county}}&nbsp;{{address.detail}}</span>
		</a>
	</div>
	
	<div style="background:#fff;margin-top:5px;color: #555;padding: 10px 15px;">
		<div>商品信息</div>
	</div>
	<hr style="margin: 0 0 0 0;"/>
	<div class="content-default">
		<div ng-repeat="item in shoppingTrolleyList">
			<div class="clearfix" ng-class="{true:'',false:'hr-top'}[$index==0]">
				<div style="font-weight: bold;">{{item.productTitle}}</div>
				<div>
					<span style="float:left;color :red;">{{item.productPrice | currency : '￥'}}</span>
					<span class='order-text pull-right'>× {{item.number}}</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content-default" style="margin-top:5px;">
		<div style="display:inline-block;width: 100%;">
			<span style="float:left;">商品数量</span>
			<div class="order-text" style="float:right;">{{totalNumber}}
	    	</div>
		</div>
		<div style="display:inline-block;width: 100%;">
			<span style="float:left;">商品总价</span>
			<div style="float:right;">
				<span style="color: red;">{{totalAmount | currency : '￥'}}</span>
	    	</div>
		</div>
	</div>
		
	<div class="content-default" style="margin-top:5px;">
		<div style="display:inline-block;width: 100%;">
			<span style="float:left;width:20%;">卖家留言</span>
			<input style="width:78%;border: none;" placeholder="选填、30字以内" ng-change="changeBuyerMessage()" ng-model="buyerMessage">
		</div>
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" style="min-height: 0;">
	<ul class="nav nav-pills">
		<li role="presentation" style="width:70%;border-radius: 0px;">合计&nbsp;<span style="color: red;">{{totalAmount | currency : '￥'}}</span></li>
		<li role="presentation"  ng-click="saveTrolleyOrder()" style="width:25%;background: darkcyan;border-radius: 0px;">
			<a href="javascript:void(0);" style="color: white;">去支付</a>
		</li>
	</ul>
</nav>

<div ng-show="showPayDialog" style="position:absolute;top:0;bottom:0px;left:0;background:#000;opacity:0.7;width:100%;z-index:2000;"></div>
<div ng-show="showPayDialog" style="position:absolute;bottom:0px;width: 100%;z-index:3000;background:white;">
	<div class="text-center">
		<span ng-click="cancelPay()" style="float: left;margin-left: 10px;">╳</span>
		<h4>确认付款</h4>
	</div>
	<hr/>
	<div class="text-center">
		<h3>￥{{order.modifyAmount}}</h3>
	</div>
	<hr/>
	<div class="text-center">
		<h4 ng-click="surePay()">确认支付</h4>
	</div>
</div>
